---
layout: default
group: main
title: Home
---

<div class="container p-t-2">
    <div class="row">
        {% for page in site.pages %}
            {% if page.title and page.group == 'projects' %}
                <div class="col-sm-6">
                    <a href="{{ page.url }}" class="card" aria-label="Read more about {{ page.title }}">
                        <img src="{{ page.image }}" alt="{{ page.title }}" class="card-img-top img-fluid">
                        <div class="card-block">
                            <h3 class="card-title">{{ page.title }}</h3>
                            <p class="card-text">
                                {{ page.lead }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
