$body-bg: #000;
$body-color: #f2f2f2;
$link-color: #ccc;
$dark: #1f1f1f;
$primary: #0063b1;
$thumbnail-border-color: #2b2b2b;
$hr-border-color: #2b2b2b;
$light: #7f8c8d;
$font-size-base: 1.2rem;
$border-radius: 2px;
$border-radius-lg: 4px;
$border-radius-sm: 1px;
