---
layout: default
title: Blog
permalink: /bloasdasdg/index.html
---
<div class="container py-3">
    <h1>Blog</h1>
{{ site.paginator }}
    {% for post in paginator.posts %}
        <h4>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <div>
            <small class="card-text text-muted">
                {{ post.date | date: "%b %-d, %Y" }}
            </small>
        </div>
        <p>{{ post.intro }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-outline-primary">
            Read more
        </a>
        <hr>
    {% endfor %}
    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
            <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}
    </div>
</div>