<!DOCTYPE html>
<html>
{% include head.html %}
<body>

{% include navbar.html %}

<main role="main">
    {% if page.image %}
        <div class="ryoko" style="background-image: url({{ page.image | prepend: site.baseurl }})">
            <div class="ryoko-shade ryoko-body">
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 my-3">
                {{ content }}
                {% include unsplash.html %}
            </div>
            <div class="col-md-4">
                <div class="bg-dark py-3 px-3 my-3">
                    <h3 class="text-light">Categories</h3>
                    <hr class="bg-light">
                    {% include site-categories.html %}
                </div>
                <div class="bg-light py-3 px-3 my-3">
                    <h3>Projects</h3>
                    <hr class="bg-light">
                    {% for my_page in site.pages %}
                        {% if my_page.title %}
                            {% if my_page.group == 'projects' %}
                                <a class="d-block py-2" href="{{ my_page.url | prepend: site.baseurl }}">
                                    {{ my_page.title }}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</main>

{% include footer.html %}
</body>
</html>
